/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
	tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
	legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/*MAIN*/
body {
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
	margin-top: 100px;
}

a {
	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #444;
}

img {
	width: 100%;
}

header {
	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #4C9CF1;
	z-index: 100;
}

#logo {
	margin: 20px;
	float: left;
	width: 50px;
	height: 50px;
	background: url(logo.png) no-repeat center;
	display: block;
	background-size: cover;
	background-position: 50% 50%;
}

nav {
	float: right;
	padding: 20px;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(logo.png) center;
}

a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px
}

.current {
	color: #2262AD;
}

section {
	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px
}

h1 {
	font-size: 2em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0;
}

p {
	line-height: 1.45em;
	margin-bottom: 20px;
}

/* Basic Grey */
.basic-grey {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	background: #F7F7F7;
	padding: 25px 15px 25px 10px;
	font: 12px Georgia, "Times New Roman", Times, serif;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #E4E4E4;
}

.basic-grey h1 {
	font-size: 25px;
	padding: 0px 0px 10px 40px;
	display: block;
	border-bottom: 1px solid #E4E4E4;
	margin: -10px -15px 30px -10px;;
	color: #888;
}

.basic-grey h1>span {
	display: block;
	font-size: 11px;
}

.basic-grey label {
	display: block;
	margin: 0px;
}

.basic-grey label>span {
	float: left;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	color: #888;
}

.basic-grey input[type="text"], .basic-grey input[type="email"],
	.basic-grey textarea, .basic-grey select {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 70%;
	font-size: 12px;
	line-height: 15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey input[type="number"] {
	float: left;
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 22%;
	font-size: 12px;
	line-height: 15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey textarea {
	padding: 5px 3px 3px 5px;
}

.basic-grey select {
	background: #FFF url('down-arrow.png') no-repeat right;
	background: #FFF url('down-arrow.png') no-repeat right);
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 70%;
	height: 35px;
	line-height: 25px;
}

.basic-grey textarea {
	height: 100px;
}

.basic-grey .button {
	background: #E27575;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
	float: right;
	margin-right: 30px;
}

.basic-grey .button:hover {
	background: #CF7A7A
}

.EstiloTabla {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000000;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.EstiloTabla table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.EstiloTabla tr:last-child td:last-child {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.EstiloTabla table tr:first-child td:first-child {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.EstiloTabla table tr:first-child td:last-child {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.EstiloTabla tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.EstiloTabla tr:hover td {
	
}

.EstiloTabla tr:nth-child(odd) {
	background-color: #aaffff;
}

.EstiloTabla tr:nth-child(even) {
	background-color: #ffffff;
}

.EstiloTabla td {
	vertical-align: middle;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 7px;
	font-size: 10px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}

.EstiloTabla tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.EstiloTabla tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.EstiloTabla tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.EstiloTabla tr:first-child td {
	background: -o-linear-gradient(bottom, #00ffff 5%, #0096bc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00ffff
		), color-stop(1, #0096bc));
	background: -moz-linear-gradient(center top, #00ffff 5%, #0096bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="   
		#00ffff ", endColorstr=" #0096bc");
	background: -o-linear-gradient(top, #00ffff, 0096bc);
	background-color: #00ffff;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}

.EstiloTabla tr:first-child:hover td {
	background: -o-linear-gradient(bottom, #00ffff 5%, #0096bc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00ffff
		), color-stop(1, #0096bc));
	background: -moz-linear-gradient(center top, #00ffff 5%, #0096bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="   
		#00ffff ", endColorstr=" #0096bc");
	background: -o-linear-gradient(top, #00ffff, 0096bc);
	background-color: #00ffff;
}

.EstiloTabla tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.EstiloTabla tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}